<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center"><strong>jasql</strong> is:</h1>
        <h2>
          <ul>
            <li><i class="fa fa-database fa-fw"></i>a database <strong>storage library</strong> for node.js</li>
            <li><i class="fa fa-database fa-fw"></i>your solution for storing <strong>schemaless documents</strong> in relational (SQL) databases</li>
            <li><i class="fa fa-thumbs-o-up fa-fw"></i>intuitive and <strong>easy to use</strong></li>
            <li><i class="fa fa-search fa-fw"></i>capable of powerful <strong>indexing</strong> of your documents</li>
            <li><i class="fa fa-universal-access fa-fw"></i>compatible with <strong>Sqlite3, PostgreSQL, MySQL, <s>Oracle</s>, <s>MSSQL</s></strong></li>
            <li><i class="fa fa-diamond fa-fw"></i>made from 12% rainbows, 17% fairy dust, and 200% awesome sauce</li>
          </ul>
        </h2>
        <h2 class="text-center"><small>Support for missing db's is comming soon!</small></h2>

        <h1 class="text-center">jasql lets you store JSON documents in time-proven, industry standard databases without creating schemas or relations.</h1>
        <h1 class="text-center"><em>jasql makes storage easy, letting you focus on functionality.</em></h1>
        <h2 class="text-center"><a href="https://github.com/{{ site.github_project }}">jasql<i class="fa fa-github fa-4x"></i>github</a><h2>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
