<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>jasql is a node.js storage library for storing schemaless documents in various relational databases.</h2>
        <p class="lead">Built on knex, jasql supports sqlite3, postgres, mysql, oracle, and mssql. The API is heavily inspired by pouchdb and is intuitive and designed to be rapidly used in applications exporting REST APIs.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
