<header id="top" class="header">
<a href="https://github.com/{{ site.github_project }}"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/567c3a48d796e2fc06ea80409cc9dd82bf714434/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png"></a>

  <div class="text-vertical-center">
    <h1>jasql</h1>
    <br>
    <p><img src="https://github.com/codyzu/jasql/raw/master/resources/logo-200px.png" /></p>
    <h3>JSON document storage in SQL for node.js</h3>
    <br>
    <a href="#quickstart" class="btn btn-dark btn-lg">Quickstart</a>
    <a href="https://github.com/{{ site.github_project }}" class="btn btn-dark btn-lg"><i class="fa fa-github fa-fw fa-lg"></i></a>
    <a href="#api" class="btn btn-dark btn-lg">API Docs</a>
  </div>
</header>
