<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <li class="sidebar-brand">
      <a href="#top"  onclick = $("#menu-close").click(); >jasql</a>
    </li>
    <li>
      <a href="#about" onclick = $("#menu-close").click(); >About</a>
    </li>
    <li>
      <a href="#quickstart" onclick = $("#menu-close").click(); >Quickstart</a>
    </li>
    <li>
      <a href="#api" onclick = $("#menu-close").click(); >API Docs</a>
    </li>
    <li>
      <a href="#protips" onclick = $("#menu-close").click(); >Pro Tips</a>
    </li>
  </ul>
</nav>
